asgiref==3.8.1
dj-config-url==0.1.1
Django==5.1.4
django-cors-headers==4.1.0
django-environ==0.11.2
gunicorn==23.0.0
importlib-metadata==6.7.0
packaging==24.0
psycopg2==2.9.9
PyJWT==2.8.0
python-decouple==3.8
pytz==2024.1
scapy==2.6.1
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2024.2
whitenoise==6.5.0
zipp==3.15.0
